fastapi>=0.68.0,<0.69.0
pydantic>=1.8.0,<2.0.0
uvicorn>=0.15.0,<0.16.0
fastapi-jwt-auth==0.5.0
pymongo
aiofiles
passlib
bcrypt
python-multipart
suds
cryptography
pydantic[email]
pydantic[dotenv]
motor
simplejson